.main_right{width:60%;height:600px;margin:0px 0 0 20px;}
.big_mv{width:570px;height:500px;background:url(../images/sp.jpg);position:relative;top:50px;margin:0px 0 0 70px;}
.title{width:100%;height:50px;text-align:center;margin:15px auto;}
.resum{width:80%;height:25px;left:50px;font:14px/25px arial,sans-serif;color:white;border:1px dotted;margin:-10px auto;}
.con_mv{width:526px;height:338px;position:absolute;top:22px;left:27px;}












